.AddEditForm {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgb(44,44,44,0.5);
    z-index: 100;
    top: 0;
    left: 0;
}

.AddEditForm-box {
    position: relative;
    top: 20vh;
    margin: auto;
    width: 600px;
    height: 300px;
    background-color: var(--accent-light-blue);
    border-radius: 8px;
}

.AddEditForm-form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddEditForm-form form {
    text-align: center;
}

.AddEditForm-form input {
    display: block;
}

.AddEditForm-exit-btn {
    position: absolute;
    right: 0;
    margin: 1.5em;
}