.Category {
    display: inline-grid;
    width: 30%;
    /* max-height: 300px;
    overflow: scroll; */
    background-color: var(--accent-light-blue);
    border-radius: 8px;
    margin: 1em;
}

.Category-title-box {
    padding: 0.5em 1em 0.5em 1.5em;
    display: flex;
    justify-content: space-between;
}

.Category h1 {
    font-size: 1.25em;
}


.box {
    max-height: 250px;
    overflow: hidden;
}

.box ul {
    max-height: 150px;
    overflow: hidden;
}

.Category-bottom {
    text-align: center;
}

.Category-expand-btn {
    margin: 1em auto;
    border: none;
    color: black;
}

.Category-toggle-btn {
    padding: 0.25em 0.75em;
    height: 2em;
    width: 2em;
}

.expand {

}